@import "font.css";
@import "/temp/registation/style.css";
@import "/temp/style.css";
@import "/about/style.css";
@import "/contacts/style.css";
@import "/blog/style.css";

/*main block*/

.main{
    padding: 80px 0;
    position: relative;
    background-color: antiquewhite;
}
.main_text{
    width: 600px;
    font-size: 20px;
    font-weight: 500;
}

.main_buttons{
    width: 515px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.main_buttons a{
    color:black;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    background-color: antiquewhite;
    transition: 0.4s;
}
.main_buttons a:hover{
    transform: scale(1.1);
    background-color: black;
    color:white;
}


/*wrap_block*/
.wrap_block{
    background-attachment: fixed;
    background-image: url("/img/bg_fixed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
    border: 3px solid black;
}

/*info_block*/

.info_block{
    background-color: antiquewhite;
    padding: 80px 0;
    }
.info_block_wrap-quote{
    width: 300px;
    height: 350px;
    display: inline-block;
}
.info_block_quote{
    background-image: url("/img/paper.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
}
.info_block_wrap{
    display: flex;
    justify-content: space-between;
}
.info_block aside{
    display: inline-block;
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    background: inherit;
    border-radius: 15px;
}