.about_section {
    background-color: antiquewhite;
    padding: 60px 0;
}
.about {
    font-size: 20px;
}
.about::first-letter{
    color: #ff6605;
    font-weight: 600;
    font-size: 35px;
}
.about a{
    font-size: 18px;
}
.title{
    text-align: center;
    font-size: 20px;
}
.divider_wrap{
    position: relative;
    width: 75px;
    margin: 0 auto;
    transition: 0.3s;
}
.divider{
    width: 12px;
    margin: 20px auto;
    background-color: #ff6600;
    border-radius: 50%;
    transition: 0.3s;
    border: none;
}
.divider:not([size]){
height: 12px;
}
.divider::after{
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #d05300;
    border-radius: 50%;
    left: 18px;
    transform: translateY(25%);
}
.divider::before{
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #d05300;
    border-radius: 50%;
    right: 18px;
    transform: translateY(25%);
}
.divider_wrap:hover{
    filter: drop-shadow(3px 4px 3px grey);
}
.about img{
    width: 200px;
}