/* вход в админку*/

body {
    background-color: antiquewhite;
}

.blog_element_admin {
    position: relative;
    border: 3px solid black;
    padding: 10px 20px 35px 35px;
    width: 800px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9d2b8;
}

.blog_wrap .blog_element_admin .btn_wrap {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.admin_wrap {
    padding: 50px;
    border: 2px solid black;
    width: max-content;
    margin: 300px auto;
    border-radius: 15px;
}

.admin_wrap span {
    font-size: 32px;
}

.admin_wrap input[type=text], .admin_wrap input[type=password] {
    width: 300px;
    padding: 5px;
    outline: none;
    font-size: 25px;
}

.admin_wrap input[type=submit] {
    margin-top: 30px;
    font-size: 25px;
    padding: 5px;
    width: 300px;
}

/*Админка*/

.admin_nav {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.admin_nav a {
    font-size: 20px;
}

/*Настройки блога*/

.admin_blog_wrap {
    display: flex;
    justify-content: space-around;
}

.update_submit {
    margin-top: 200px;
}

.adm_update_back_btn {
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    text-decoration: none;
}

.blog_element_delete, .blog_element_update {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
}

.blog_element_update {
    right: auto !important;
    left: 10px;
}